/* ========== SLIDER ========== */
.slider__img {
    padding-top: 38%;
    background: url("https://lh3.googleusercontent.com/8CmSX6S5YH1Q8t9DqFgaRs3mzh4R9TVGzXr3XSDME7DLJDI3dKYfubMgTW4TOv6mrh--8rIWnpS99CdrLV8OVTcC3_weToPXkeDkLr2VRTsyeet-umu6WBdxFSRKeu-AME9ApVN6VgnyBYxc5jU15jcS_cG1MhVDZFR-6k8FuCaNVnLG5_0G074u3NoKkfqcHva-wTaB09NE3LZsbzgNV2tkieEJHphsv09lKcjTZZSUJPZ02rdjcjW5F_51P756lITL4reK1Cn-KVoonCZ9hAqA-X4W3ZnvYqZGcI5XWK_WvXE5H_75eH_gtic6iYuUgHWBuNIs9YLctsCa2NckcNaEWfVVVldvExMFGrhPkxRJCOLgLX8_KvFJX4hwmAKNN0AepHH_DClQ1xAhi7HYt7vWWD6LrXr-4-Xr3hi9RNqWo_dSRtRzKkLpA19dYXYugwh-CpOW3m4UYsu0Ef7oYj5Iq7ZXWC_kPAcXRMO8CdoGcazQEv56P5P-6Pe7cAIFiEg2gk9kFBIGT0swz6-C82_Sep49N15JGxceJ2dMAosrzB4boWjiNTZ1tydAdbgDZsMawBcIKUXkgZYQ2AbGyJJlybgfG83DYoR-5O0rbHsef-EeOPv8piWrOCOv9WFxJZlNgDwpIqyrM3BH2807dvAMaRFWywXTtdcUfz1RfFfZMWtm8GFCWS2biZFXdMFWqo-WdfEgOEDk-0_XwJ5PirY=w1958-h745-no?authuser=0")
        top center / cover no-repeat;
    margin-top: 100px;
}


